{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="m-5">
        <div class="container ">
            <div class="row">
                <div class="col ">
                    <a href="{{ path('pays_add') }}" class="btn btn-success ml-5">Ajouter un Pays </a>
                    <a href="{{ path('musee_add') }}" class="btn btn-success">Ajouter un musée</a>
                    <a href="{{ path('visiter_add') }}" class="btn btn-success">Ajouter un Visiteur</a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
